<div style="font-size:12px;">
    <span class="username">@Output.User</span>    
    @if (!string.IsNullOrEmpty(@Output.User))
    {
        <span>:</span>
    }
    <span class="location">@Output.Location</span>
    @if (!string.IsNullOrEmpty(@Output.Location))
    {
        <span>$</span>
    }
    <span class="output-line">@((MarkupString)@Output.HTML)</span>
</div>
 

@code {
    [Parameter] public OutputLine Output { get; set; } = new OutputLine();

    public class OutputLine
    {
        public OutputLine()
        {
            HTML = "<span>$: </span>";
            User = "DummyUser";
            Location = "DummyLocation";
        }

        public OutputLine(string html, string user, string location) : this(html)
        {
            User = user;
            Location = location;
        }

        public OutputLine(string html)
        {
            HTML = html;
            User = string.Empty;
            Location = string.Empty;
        }

        public string HTML { get; set; }  

        public string User { get; set; }

        public string Location { get; set; }
    }
}
